<optimizer-page package-path="./optimizer.json"/>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lasso Sample</title>
    <optimizer-head/>
</head>

<body>
    <h2>Lasso Sample</h2>

    <optimizer-body/>
    <browser-refresh enabled="true"/>
</body>

</html>